# Define a method/function that removes from a given array of integers all the values contained in a second array.

In [ ]:
arr1 =[1, 1, 2 ,3 ,1 ,2 ,3 ,4]
arr2 =[1, 3]
new_arr = []

In [ ]:
def arr(*kwargs):
  arr1 =[1, 1, 2 ,3 ,1 ,2 ,3 ,4]
  arr2 =[1, 3]
  new_arr = []
  for i in arr1:
    if i not in arr2:
      new_arr.append(i)
  return new_arr

z = arr([5,8,3,2,1])
print(z)

[2, 2, 4]

## We need a method in the List Class that may count specific digits from a given list of integers. This marked digits will be given in a second list. The method .count_spec_digits()/.countSpecDigits() will accept two arguments, a list of an uncertain amount of integers integers_lists/integersLists (and of an uncertain amount of digits, too) and a second list, digits_list/digitsList that has the specific digits to count which length cannot be be longer than 10 (It's obvious, we've got ten digits). The method will output a list of tuples, each tuple having two elements, the first one will be a digit to count, and second one, its corresponding total frequency in all the integers of the first list. This list of tuples should be ordered with the same order that the digits have in digitsList

Let's see some cases:

In [3]:
from collections import Counter
def countSpecDigits(integers_list, digits_list):
  list_digit_set = " ".join([str(x) for x in integers_list])
  
  digit_list_set = "".join([str(x) for x in digits_list])
  list_digit_set_out = []
  for i in list_digit_set:
    if i in digit_list_set:
      list_digit_set_out.append((i,integers_list.count(i)))
  return list_digit_set_out

In [7]:
integers_list = [1, 1, 2 ,3 ,1 ,2 ,3 ,-4]
digits_list = [1, 3,4]
print(countSpecDigits(integers_list, digits_list))

[('1', 0), ('1', 0), ('3', 0), ('1', 0), ('3', 0), ('4', 0)]

In [4]:
integers_list = [1, 1, 2 ,3 ,1 ,2 ,3 ,-4]
list_digit_set = "".join([str(x) for x in integers_list])
list_digit_set

'1123123-4'

In [5]:
integers_list = [1, 1, 2 ,3 ,1 ,2 ,3 ,-4]
digits_list = [1, 33,4]
list_digit_set = set(integers_list)
digit_list_set = set(digits_list)
print(digit_list_set)
list_digit_set_out = []
for i in list_digit_set:
    if i in digit_list_set:
      list_digit_set_out.append((i,integers_list.count(i)))
list_digit_set_out

{1, 4, 33}

[(1, 3)]

In [ ]:
list_digit_set =set([str(x) for x in integers_list])
t=[]
for i in list_digit_set:
  t.append(i)

In [6]:

integers_list = [1, 1, 2 ,3 ,1 ,2 ,3 ,4]
digits_list = [1, 3]
list_digit_set = set(integers_list)
list_digit_set_out = []
for i in list_digit_set:
  list_digit_set_out.append((i,integers_list.count(i)))

print(list_digit_set_out)

[(1, 3), (2, 2), (3, 2), (4, 1)]

# Count the number of occurrences of each character and return it as a list of tuples in order of appearance. For empty output return an empty list.

Example:

In [8]:
def ordered_count(string):
    #setRemove
    list_set=set(string)
    #Prepare empty list
    list_out=[]
    #Use non-repeated traversal loop
    for i in list_set:
        #Count with raw string
        list_out.append((i,string.count(i)))
    #Return to list of tuples
    return list_out
    
string='felicia'
ordered_count(string)

[('f', 1), ('l', 1), ('i', 2), ('c', 1), ('e', 1), ('a', 1)]

In [ ]:
print(list_set)
print(list_out)

{'i', 'e', 'l', 'F', 'c', 'a'}
[('i', 2), ('e', 1), ('l', 1), ('F', 1), ('c', 1), ('a', 1)]